# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Project specific
/storage/
/logs/
/.ruff_cache/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db
desktop.ini